<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodpartner">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- For Location Api -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- For Custom Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- For Image Uploading -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kodpartner.DashboardActivity" />
        <activity android:name="activity.LoginActivity" />
        <activity android:name="activity.RescheduleActivity" />
        <activity android:name="activity.ExpertDetails" />
        <activity android:name="activity.MapActivity" />
        <activity android:name="activity.ProfileDetails" />
        <activity android:name="activity.AllPendingLeadsActivity" />
        <activity android:name="activity.TrackLocation" />
        <activity android:name="activity.MoveToWorking" />
        <activity android:name="activity.SendOtp" />
        <activity android:name="activity.WalletRecharge" />
        <activity android:name="activity.SearchProductTab" />
        <activity android:name="activity.AllLabours" />
        <activity android:name="activity.EditProfile" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:configChanges="locale"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCipQRHyKIpBtpL32GVguoCh8ChSpXhSQQ" />

        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_BgowKeNL8bFbS1"
            />
    </application>

</manifest>